<div class="container">


	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

	<div class="col-md-6">{{form_row(form.name, {
    label: "Nom",
})}}</div>
	<div class="col-md-6">{{form_row(form.description, {
    label: "Description",
})}}</div>
	<div class="col-md-6">{{form_row(form.stock, {
    label: "Nombre de places",
})}}</div>


	<button class="btn">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
</div>
