<div class="container mt-4">
	{{form_start(formRetraite)}}

	{{form_row(formRetraite.name)}}
	{{form_row(formRetraite.Destination)}}
	{{form_row(formRetraite.Duree)}}
	{{form_row(formRetraite.description)}}
	{{form_row(formRetraite.price)}}
	{{form_row(formRetraite.stock)}}
	{{form_row(formRetraite.image)}}

	<button type="submit">Ajouter</button>

	{{form_end(formRetraite)}}


</div>
