{% extends 'base.html.twig' %}

{% block title %}Holi Sens - Espace bien-être
{% endblock %}

{% block body %}
	{% include("partials/_carousel.html.twig") %}
	<div style="height: 50px;"></div>
	<!-- Espace vertical de 50px -->

	<div class="container text-center mt-4 mb-4">

		<h2>Explorez l'harmonie intérieure avec Holi Sens</h2>
		<p>Cultivez la joie intérieure chez Holi Sens, votre refuge urbain pour la détente, la transformation et la connexion profonde.</p>
	</div>
	<div style="height: 50px;"></div>
	<!-- Espace vertical de 50px -->


	<div
		class="container marketing mt-4">


		<!-- Trois colonnes de texte en dessous du carousel -->
		<div class="row text-center">
			<div class="col-lg-4">

				<img src={{ asset ('img/site/yoga.png') }} class="img-thumbnail rounded-circle" alt="gros plan yogi">
				<h2 class="fw-normal mt-2">Le yoga</h2>
				<p>Le yoga est une pratique ancestrale combinant postures physiques, techniques de respiration et méditation pour renforcer le corps et l'esprit, favorisant ainsi santé, flexibilité et sérénité, paix et santé.</p>
				<p>
					<a class="btn btn-secondary" href="{{ path('app_cours')}}">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<img src={{ asset ('img/site/meditation.png') }} class="img-thumbnail rounded-circle" alt="gros plan méditation">
				<h2 class="fw-normal mt-2">La méditation</h2>
				<p>La méditation est une pratique de concentration et de pleine conscience, visant à apaiser l'esprit, réduire le stress et améliorer la clarté mentale et émotionnelle et la présence d'esprit.</p>
				<p>
					<a class="btn btn-secondary" href="{{ path('app_meditation')}}">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src={{ asset ('img/site/retraite.png') }} class="img-thumbnail rounded-circle" alt="gros plan bol chantant">
				<h2 class="fw-normal mt-2">Les retraites</h2>
				<p>Les retraites de yoga et méditation offrent une échappée tranquille pour approfondir la pratique spirituelle, favoriser la relaxation et la connexion intérieure dans un environnement paisible.</p>
				<p>
					<a class="btn btn-secondary" href="{{ path('app_retraites')}}">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->


	</div>

	<div class="row featurette bg-white mt-4">
		<div class="">
			<h2 class="featurette-heading fw-normal lh-1 mt-4 text-center">Bienvenue chez Holi Sens

			</h2>
			<p class="px-5 text-justify">

				Chez Holi Sens, nous croyons en la puissance transformatrice du yoga, de la méditation et des retraites bien-être pour enrichir votre vie. Dans notre havre de paix, nous vous invitons à découvrir le chemin vers une harmonie intérieure profonde et un bien-être durable.<br>

				<strong>Yoga pour le Corps et l'Esprit</strong><br>
				Notre studio offre une variété de cours de yoga adaptés à tous les niveaux. Que vous soyez débutant ou yogi expérimenté, nos séances vous aideront à renforcer votre corps, améliorer votre souplesse et apaiser votre esprit. Laissez-vous guider par nos enseignants dévoués, qui vous accompagneront dans votre pratique personnelle.<br>

				<strong>Méditation pour la Paix Intérieure</strong><br>
				La méditation est au cœur de notre philosophie. Nous proposons des sessions guidées pour vous aider à cultiver la pleine conscience et la sérénité. Nos techniques de méditation visent à réduire le stress, à améliorer la concentration et à favoriser une connexion profonde avec soi-même.<br>

				<strong>Retraites pour l'Épanouissement</strong><br>
				Embarquez pour un voyage transformateur avec nos retraites sur mesure. Dans des lieux choisis pour leur beauté et leur tranquillité, nos retraites allient parfaitement le yoga, la méditation et des ateliers de bien-être pour une expérience holistique. C'est une opportunité unique de se reconnecter avec soi-même, loin du tumulte quotidien.<br>

				<strong>Une Communauté Chaleureuse et Bienveillante</strong><br>
				Holi Sens est plus qu'un studio de yoga ; c'est une communauté où chacun est accueilli et soutenu. Nous valorisons la bienveillance, l'entraide et la convivialité. Ici, vous trouverez un espace pour partager, apprendre et grandir ensemble.<br>

				Rejoignez-nous dans cet espace de bien-être où corps, esprit et âme se rencontrent pour un voyage de transformation et de paix intérieure.<br>

				Holi Sens, votre chemin vers l'harmonie.</p>
		</div>

	</div>

	<div style="height: 20px;"></div>
	<!-- Espace vertical de 50px -->


{% endblock %}
