{% extends "base.html.twig" %}

{% block title %}Retraites
{% endblock %}

{% block body %}
	<div class="container mt-4 mb-4 text-center">
		<h1>Découvrir nos prochaines retraites</h1>
	</div>


	{% for retrait in retraite %}

		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-8 ">
					<div class="card mb-3">
						<h3 class="card-header">{{ retrait.name }}</h3>
						<div class="card-body">
							<h5 class="card-title">{{ retrait.Destination }}</h5>
							<h6 class="card-subtitle text-muted">{{ retrait.Duree }}</h6>
						</div>

						<div class="card-body">

							<img src="{{ asset('img/upload') ~ retrait.image }}" alt="Image de {{ retrait.name }}">

							<p class="card-text">{{ retrait.description }}</p>
						</div>

						<div class="card-footer text-muted">
							{{ retrait.stock }}
							places disponibles
						</div>

						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ retrait.price}}
								€ / personne (tout compris)</li>

						</ul>

						<div class="card-body">

							{% if retrait.stock > 0 %}
								<a href="{{ path('cart_add', {id: retrait.id} )}}" class="btn btn-primary">Réserver</a>
							{% else %}
								<p class="text-danger">Il n'y a plus de places disponibles</p>
							{% endif %}
						</div>


					</div>


				</div>
			</div>


		</div>
	{% endfor %}


{% endblock %}
