<div
	class="container marketing">

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 text-align-center">
			<h2 class="featurette-heading fw-normal lh-1">Hatha Yoga
				<span class="text-body-secondary">Niveau débutant à intermédiaire</span>
			</h2>
			<p class="lead">
				Ce type de yoga est souvent considéré comme la base de toutes les formes de yoga physique. Le Hatha Yoga se concentre sur les asanas (postures) et le pranayama (exercices de respiration). Les cours de Hatha Yoga sont généralement plus lents et plus méthodiques, ce qui les rend idéaux pour les débutants. Ils permettent aux pratiquants de se familiariser avec les postures de base et de développer une meilleure conscience corporelle.</p>
			<p>
				<a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a>
			</p>
		</div>
		<div class="col-md-5">
			<img src={{asset('img/hatha.png') }} alt="hatha yoga" width="500" height="500">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">Vinyasa Yoga
				<span class="text-body-secondary">Niveau intermédiaire à avancé</span>
			</h2>
			<p class="lead ">Ce style est connu pour son rythme dynamique. "Vinyasa" signifie "placer de manière spécifique", faisant référence à la manière dont les postures s'enchaînent en harmonie avec la respiration. Les cours de Vinyasa sont fluides et variés, avec peu de temps passé dans chaque posture. Ce style convient aux personnes qui recherchent une forme d'exercice plus vigoureuse et moins statique.</p>
			<p>
				<a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a>
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src={{asset('img/vinyasa.png') }} alt="vinyasa yoga" width="500" height="500">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">Ashtanga Yoga<span class="text-body-secondary">Niveau intermédiaire à avancé</span>
			</h2>
			<p class="lead">
				Ashtanga est un style de yoga très structuré et intense. Les pratiquants suivent une séquence spécifique de postures, chacune liée à la respiration. Cette pratique exigeante est bénéfique pour renforcer le corps, améliorer la souplesse et développer l'endurance. C'est un choix populaire pour ceux qui recherchent un défi physique et mental.</p>
			<p>
				<a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a>
			</p>
		</div>
		<div class="col-md-5">
			<img src={{asset('img/ashtanga.png') }} alt="ashtanga yoga" width="500" height="500">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">Iyengar Yoga
				<span class="text-body-secondary">Niveau débutant à intermédiaire</span>
			</h2>
			<p class="lead ">Créé par B.K.S. Iyengar, ce style met l'accent sur la précision et l'alignement dans les postures. Les cours d'Iyengar utilisent fréquemment des accessoires comme des blocs, des sangles, et des couvertures pour aider les élèves à atteindre l'alignement correct et à approfondir leur pratique. Ce type de yoga convient particulièrement à ceux qui veulent travailler sur leur alignement ou qui ont des limitations physiques.</p>
			<p>
				<a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a>
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src={{asset('img/Iyengar.png') }} alt="iyengar yoga" width="500" height="500">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1">Yin Yoga<span class="text-body-secondary">Tous niveaux</span>
			</h2>
			<p class="lead">
				Yin Yoga est un style de yoga plus méditatif et passif. Les postures sont généralement maintenues pendant plusieurs minutes, permettant une profonde relaxation des muscles et un étirement des tissus conjonctifs, ligaments et articulations. Cette pratique est idéale pour améliorer la flexibilité et favoriser la relaxation profonde.</p>
			<p>
				<a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a>
			</p>
		</div>
		<div class="col-md-5">
			<img src={{asset('img/Yin.png') }} alt="yin yoga" width="500" height="500">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">Restorative Yoga<span class="text-body-secondary">Tous niveaux</span>
			</h2>
			<p class="lead ">Semblable au Yin Yoga, le Restorative Yoga se concentre sur la relaxation, mais avec une approche encore plus passive. Les postures sont maintenues pendant de longues périodes, souvent avec le soutien de coussins, de blocs et de couvertures. Ce type de yoga est excellent pour réduire le stress et favoriser la guérison du corps et de l'esprit.</p>
			<p>
				<a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a>
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src={{asset('img/restorative.png') }} alt="restorative yoga" width="500" height="500">
		</div>
	</div>

	<hr
	class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->
