 <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 text-align-center">
        <h2 class="featurette-heading fw-normal lh-1">Méditation de Pleine Conscience (Mindfulness) <span class="text-body-secondary">Accessible à tous</span></h2>
        <p class="lead">Réduction du stress et de l'anxiété. Amélioration de la concentration et de la clarté mentale. Développement de la conscience du moment présent.</p>
        <p><a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src={{asset('img/mindfulness.png') }} alt="logo-holi-sens" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Méditation Transcendantale <span class="text-body-secondary">Accessible à tous</span></h2>
        <p class="lead ">Réduction du stress et de la tension corporelle. Amélioration de la qualité du sommeil. Développement de la créativité et de la clarté mentale.</p>
        <p><a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src={{asset('img/transcendentale.png') }} alt="logo-holi-sens" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Méditation Guidée <span class="text-body-secondary">Accessible à tous</span></h2>
        <p class="lead">Induction de la relaxation profonde. Exploration de thèmes spécifiques (confiance, gratitude, etc.). Amélioration de la visualisation créative.</p>
        <p><a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a></p>
      </div>
      <div class="col-md-5">
         <img src={{asset('img/guidee.png') }} alt="logo-holi-sens" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

	 <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Méditation Chakra <span class="text-body-secondary">Accessible à tous</span></h2>
        <p class="lead ">Équilibrage des centres d'énergie du corps. Harmonisation du système énergétique. Favorisation de la clarté mentale et du bien-être.</p>
        <p><a class="btn btn-outline-dark mb-4" href="{{ path('app_agenda')}}">Réserver &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src={{asset('img/chakra.png') }} alt="logo-holi-sens" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

        