<div class="container mt-4">
{{ form_start(form) }}
    
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.phone) }}



<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>

