{% extends 'base.html.twig' %}

{% block title %}Membre
{% endblock %}

{% block body %}
	<div class="container mt-4">

		<h1>Membre</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ membre.id }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ membre.email }}</td>
				</tr>
				<tr>
					<th>Roles</th>
					<td>{{ membre.roles ? membre.roles|json_encode : '' }}</td>
				</tr>
				<tr>
					<th>Mot de passe</th>
					<td>{{ membre.password }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ membre.lastname }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ membre.firstname }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ membre.phone }}</td>
				</tr>
			</tbody>
		</table>


		<a href="{{ path('app_membre_index') }}">retour à la liste</a>

		<a href="{{ path('app_membre_edit', {'id': membre.id}) }}">modifier</a>

		{{ include('membre/_delete_form.html.twig') }}
	</div>

{% endblock %}
